<div class="form" *ngIf="!signedIn">
    <form (ngSubmit)="login()">
        <h2>Se connecter</h2>
        <div>
            <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Nom" required>
            <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Mot de passe"required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

<select>
    <option value="" disabled selected>{{"Choisie"}}</option>
    <div *ngFor="let pizza of pizzas">
        <option  *ngIf="pizza.name!='Hawai'" [value]="pizza.name">
            {{pizza.name}}
        <!-- <input type="text" id="pizzaName" name="pizzaName" [(ngModel)]="pizzaName" required>   -->
        </option>
    </div>

</select>


<p>token : {{token.token}}</p>
<p>isAdmin :  {{isAdmin}}</p>
<div class="content" *ngIf="signedIn">
    <h1>Admin dashboard</h1>


    <div class="menus" *ngIf="menus.length>0">
        <h2>Gestion des Menus</h2>
        <table class="list">
            <thead class="titles">
                <th>Menu_id</th>
                <th>Pizza</th>
                <th>Chicken</th>
                <th>Drink</th>
                <th>Sauce</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let menu of menus;" class="row">
                    <!-- <form (ngSubmit)="updateMenuRow()"> -->
                        <td class = "item">{{menu.menu_id}}</td>
                        <td class = "item">
                            <select>
                                <option value="" disabled selected>{{menu.Pizza.name}}</option>
                                <option *ngFor="let pizza of pizzas" [value]="pizza.name">
                                    {{pizza.name}}
                                    <!-- <input type="text" id="pizzaName" name="pizzaName" [(ngModel)]="pizzaName" required>   -->
                                </option>
                            </select>
                        </td>
                        <td class = "item">
                            <select>
                                <option value="" disabled selected>{{menu.Chicken.name}}</option>
                                <option *ngFor="let chicken of chickens" [value]="chicken.name">
                                    {{chicken.name}}
                                    <!-- <input type="text" id="pizzaName" name="pizzaName" [(ngModel)]="pizzaName" required>   -->
                                </option>
                            </select>
                        </td>
                        <td class = "item">
                            <select>
                                <option value="" disabled selected>{{menu.Drink.name}}</option>
                                <option *ngFor="let drink of drinks" [value]="drink.name">
                                    {{drink.name}}
                                    <!-- <input type="text" id="pizzaName" name="pizzaName" [(ngModel)]="pizzaName" required>   -->
                                </option>
                            </select>
                        </td>
                        <td class = "item">
                            <select>
                                <option value="" disabled selected>{{menu.Sauce.name}}</option>
                                <option *ngFor="let sauce of sauces" [value]="sauce.name">
                                    {{menu.Sauce.name}}
                                    <!-- <input type="text" id="pizzaName" name="pizzaName" [(ngModel)]="pizzaName" required>   -->
                                </option>
                            </select>
                        </td>
                        <input type="submit" value="Modifier">
                    <!-- </form> -->
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pizzas" *ngIf="pizzas.length>0">
        <h2>Gestion des Pizzas</h2>
        <table class="list">
            <thead class="titles">
                <th>id</th>
                <th>nom</th>
                <th>prix</th>
                <th>description</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let pizza of pizzas;" class="row">
                    <td class = "item">{{pizza.id}}</td>
                    <td class = "item">{{pizza.name}}</td>
                    <td class = "item">{{pizza.price}}</td>
                    <td class = "item">{{pizza.desc}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="drinks" *ngIf="drinks.length>0">
        <h2>Gestion des Boissons</h2>
        <table class="list">
            <thead class="titles">
                <th>id</th>
                <th>nom</th>
                <th>prix</th>
                <th>description</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let drink of drinks;" class="row">
                    <td class = "item">{{drink.id}}</td>
                    <td class = "item">{{drink.name}}</td>
                    <td class = "item">{{drink.price}}</td>
                    <td class = "item">{{drink.desc}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="sauces" *ngIf="sauces.length>0">
        <h2>Gestion des Sauces</h2>
        <table class="list">
            <thead class="titles">
                <th>id</th>
                <th>nom</th>
                <th>prix</th>
                <th>description</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let sauce of sauces;" class="row">
                    <td class = "item">{{sauce.id}}</td>
                    <td class = "item">{{sauce.name}}</td>
                    <td class = "item">{{sauce.price}}</td>
                    <td class = "item">{{sauce.desc}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="chickens" *ngIf="chickens.length>0">
        <h2>Gestion des Poulets</h2>
        <table class="list">
            <thead class="titles">
                <th>id</th>
                <th>nom</th>
                <th>prix</th>
                <th>description</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let chicken of chickens;" class="row">
                    <td class = "item">{{chicken.id}}</td>
                    <td class = "item">{{chicken.name}}</td>
                    <td class = "item">{{chicken.price}}</td>
                    <td class = "item">{{chicken.desc}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="orderextras" *ngIf="orderextras.length>0" hidden>
        <h2>Gestion des Suppléments</h2>
        <table class="list">
            <thead class="titles">
                <th>idOrderExtra</th>
                <th>idOrder</th>
                <th>idExtraDrink</th>
                <th>idExtraPizza</th>
                <th>idExtraChicken</th>
                <th>idExtraSauce</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let orderextra of orderextras;" class="row">
                    <td class = "item">{{orderextra.idOrderExtra}}</td>
                    <td class = "item">{{orderextra.idOrder}}</td>
                    <td class = "item">{{orderextra.idExtraDrink}}</td>
                    <td class = "item">{{orderextra.idExtraPizza}}</td>
                    <td class = "item">{{orderextra.idExtraChicken}}</td>
                    <td class = "item">{{orderextra.idExtraSauce}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clients" *ngIf="clients.length>0">
        <h2>Gestion des Clients</h2>
        <table class="list">
            <thead class="titles">
                <th>Nom</th>
                <th>Mot de passe</th>
            </thead>
            <tbody class="rows">
                <tr *ngFor="let client of clients;" class="row">
                    <td class = "item">{{client.name}}</td>
                    <td class = "item">{{client.password}}</td>
                    <td class = "item">{{client.isAdmin}}</td>
                    <td><button class="delete_button">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



