.buttons{
    position: relative;
    display: inline;
  }
  
  .previous{
    display: inline-block;
    justify-content: left;
    position: fixed;
    bottom: 10%;
    left: 10%;
  }
  
  .confirm{
    display: inline-block;
    justify-content: right;
    position: fixed;
    bottom: 10%;
    right: 10%;
  }