.header{
    height: 20px;
    background: #f56060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header nav{
    display: flex;
    justify-content: space-evenly;}

.header nav a{
    text-decoration: none;
    color: white;
    padding: 0.3rem;

}