.selection{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 10px;
}

.buttons{
  position: relative;
  display: inline;
}

.validate{
  display: inline-block;
  justify-content: right;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.menuPizza, .menuChicken,.menuPizza,.menuDrink {
  margin-right: 1%;
}

.addMenu,.addMenu,.addsauce,.addChicken,.addDrink,.addPizza{
  margin-left: 1%;
  margin-right: auto;
  margin-bottom: 1%;
}